# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow  run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    test:
      runs-on: ubuntu-latest
      name: Integration tests
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Integration tests prepare
          run: |
              docker build -t myrobot --file .github/workflows/Dockerfile-robot .
        - name: Integration tests
          run: |
            docker run \
              -v ${PWD}/reports:/opt/robotframework/reports:Z \
              -v ${PWD}/e2e/:/opt/robotframework/tests:Z \
              myrobot
        - name: Upload test results
          uses: actions/upload-artifact@v2
          if: always()
          with:
            name: reports
            path: |
              e2e/output.xml
              e2e/report.html
              e2e/log.html
    deploy:
        runs-on: ubuntu-latest
        name: Deploy
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Deploy
              uses: akhileshns/heroku-deploy@v3.5.6
              with:
                  heroku_api_key: ${{secrets.HEROKU_API_KEY}}
                  heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
                  heroku_email: ${{secrets.HEROKU_EMAIL}}
